body {
    background-color: #beb992;
    font-family: 'Montserrat', sans-serif;
}

.ordersH {
    font-size: 28px;
    color: #353820;
    text-transform: uppercase;
    letter-spacing: 9px;
    text-shadow: 2px 2px 0 #e6e2e2;
    font-weight: 900;
    margin-left: 80px;
    margin-bottom: 50px;
}

.ordersTable {
    display: block;
    width: 850px;
    padding: 10px 18px;
    margin-top: 10px;
    margin-left: 30px;
}

.table {
    font-weight: bold;
    border-spacing: 25px;
}

.ordersTitle {
    border: 2px solid rgb(139 139 139 / 50%);
    border-radius: 20px;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.ordersTitle:hover {
    color: #1d7324;
    text-decoration: underline;
}

.table .tableThead {
    cursor: pointer;
    background: #c9dff0;
}

.table .tableThead tr th {
    font-weight: bold;
    padding: 10px 25px 10px 25px;
    text-align: center;
}

.table .tableTbody .ordersTableData {
    text-align: center;
    padding: 10px 10px;
}