body {
    background-color: #e8ddc9;
    font-family: "Roboto", Arial, sans-serif;
}

h2 {
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 7px;
    padding: 60px 20px;
    color: #262626;
    text-shadow: 2px 1px 6px #4f4f4f;
}
