<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<link href='/style/loginPage.css' rel='stylesheet' type='text/css'>
<div class="login">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<form th:action="@{/auth}" method="post">
    <input type="text" class="text" name="username">
    <span>username</span>
    <br>
    <br>
    <input type="password" class="text" name="password">
    <span>password</span>
    <br>
    <br>
    <button class="signIn" type="submit">Log in</button>
</form>
</body>
</div>
</html>