<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<div class="login">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link th:href='@{/style/login.css}' rel='stylesheet' type='text/css'>
    </head>
    <body>
    <form th:action="@{/}">
        <button class="mainMenu">Home page</button>
    </form>
    <br>
    <br>
    <br>
    <p th:if="${loginError}" class="error"> Wrong user or password </p>
    <br>
    <form th:action="@{/auth}" method="post">
        <input type="text" class="text" name="username">
        <span>username</span>
        <br>
        <br>
        <input type="password" class="text" name="password">
        <span>password</span>
        <br>
        <button class="signIn" type="submit">Log in</button>
    </form>
    <form th:action="@{/users/new}">
        <button class="signIn">Sign up</button>
    </form>
    </body>
</div>
</html>